:root {
	--primary-white: hsl(0, 0%, 95%);
	--paragraph-white: hsla(0, 0%, 100%, 0.75);
	--orange: hsl(31, 77%, 52%);
	--cyan: hsl(184, 100%, 22%);
	--dark-cyan: hsl(179, 100%, 13%);
	--desktop-width: 1440px;
	--mobile-width: 600px;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
	font-family: "Lexend Deca", sans-serif;
	font-size: 15px;
	min-height: 100vh;
	color: var(--primary-white);
	background-color: var(--primary-white);
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	box-sizing: border-box;
}

span {
	position: absolute;
	border: 2px solid var(--cyan);
	padding: 10px;
	bottom: 2rem;
	right: 2rem;
}

span a {
	color: var(--cyan);
	text-decoration: none;
}

.container {
	max-width: 800px;
	width: 80%;
	height: 100%;
	display: flex;
	border-radius: 10px;
	overflow: hidden;
}

.container > * {
	flex: 1;
}

h2 {
	margin: 0;
}

.sudan,
.suv,
.luxury {
	display: flex;
	flex-direction: column;
	padding: 30px;
	justify-content: space-between;
	gap: 4.5rem;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.info .header {
	font-family: "Big Shoulders Display", cursive;
	font-weight: 700;
	text-transform: uppercase;
	height: 100%;
}

.info .desc {
	color: var(--paragraph-white);
	font-size: 12px;
}

button {
	font-family: "Lexend Deca", sans-serif;
	padding: 10px 20px;
	border-radius: 30px;
	border: 2px solid transparent;
	font-size: 12px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

button:hover {
	border-color: var(--primary-white);
	background-color: transparent;
}

.sudan {
	background-color: var(--orange);
}

.sudan button {
	color: var(--orange);
}

.sudan button:hover {
	color: var(--primary-white);
}

.suv {
	background-color: var(--cyan);
}

.suv button {
	color: var(--cyan);
}

.suv button:hover {
	color: var(--primary-white);
}

.luxury {
	background-color: var(--dark-cyan);
}

.luxury button {
	color: var(--dark-cyan);
}

.luxury button:hover {
	color: var(--primary-white);
}

@media screen and (max-width: 650px) {
	body {
		padding: 2rem 0;
	}

	.container {
		flex-direction: column;
		min-height: 100vh;
		width: 50%;
		justify-content: center;
		align-items: center;
	}

	.sudan,
	.suv,
	.luxury {
		width: 100%;
		gap: 3.5rem;
	}
}

@media screen and (max-width: 500px) {
	.container {
		width: 75%;
	}

	span {
		font-size: 12px;
		padding: 5px;
		bottom: 0;
		right: 0.5rem;
	}
}
