html {
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #f7f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	min-height: 100vh;
	background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}

/* =====Container==== */
.container {
	max-width: 1000px;
	width: 85%;
	height: 100%;
	display: grid;
	grid-template-columns: 45% 55%;
}

/* ===Welcome message */
.welcome__message {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	align-items: center;
	justify-content: center;
}

.welcome__message > * {
	margin: 0;
	width: 100%;
}

.welcome__message h1 {
	font-family: "Courgette", cursive;
	font-weight: bold;
	font-size: 5rem;
}

.welcome__message h1 span {
	-webkit-background-clip: text;
	color: transparent;
	background-image: linear-gradient(
		90deg,
		hsla(236, 100%, 8%, 1) 0%,
		hsla(211, 100%, 28%, 1) 100%
	);
}

.welcome__message p {
	font-family: "Roboto", sans-serif;
	font-weight: light;
	color: #515151;
	font-size: 2.2rem;
}

.welcome__message p a {
	text-decoration: none;
	color: #145ac1;
	transition: 0.3s ease-in-out;
	position: relative;
}

.welcome__message p a::after {
	content: "»";
	position: absolute;
	display: inline-block;
	margin-left: 5px;
	width: 2rem;
	height: 2rem;
	color: #1e3b70;
	transition: 0.3s ease-in-out;
	opacity: 0;
}

.welcome__message p a:hover::after {
	opacity: 1;
}

.welcome__message p a:hover {
	color: #1e3b70;
}

.welcome__message .title {
	font-family: "Courgette", cursive;
	font-weight: bold;
	-webkit-background-clip: text;
	color: transparent;
	background-image: linear-gradient(
		90deg,
		hsla(236, 100%, 8%, 1) 0%,
		hsla(211, 100%, 28%, 1) 100%
	);
}

/* =====Form Content===== */
.form_content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

form {
	background-color: white;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 80%;
	padding: 5rem 3.5rem;
}

form > * {
	margin: 0;
}

.input_group {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.input_group label {
	font-family: "Roboto", sans-serif;
	color: #3f3f3f;
}

.input_group__field {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input_group__field input {
	width: 100%;
	padding: 1.3rem 1.5rem 1.3rem 3rem;
	border-radius: 5px;
	border: 2px solid #abdcff;
	outline: none;
}

.input_group__field input:focus {
	outline: 2px solid #0396ff;
	border: none;
}

.input_group__field .icon {
	position: absolute;
	top: calc(50% - 1rem);
	left: 4px;
	font-size: 2rem;
	width: fit-content;
	color: #288aed;
}

.input_group__field .icon.email {
	left: 6px;
}

.input_group__field .icon-right {
	position: absolute;
	top: calc(50% - 1rem);
	color: #288aed;
	right: 5px;
	font-size: 2rem;
	cursor: pointer;
}

form button {
	display: block;
	position: relative;
	font-family: "Roboto", sans-serif;
	padding: 1.3rem;
	font-weight: 500;
	font-size: 2rem;
	cursor: pointer;
	background: #288aed;
	border: none;
	border-radius: 5px;
	color: #f7f5f5;
	transition: 0.5s ease;
	text-align: center;
}

form button:hover {
	transform: scale(1.05);
}

/* ======Media Query====== */
@media screen and (max-width: 815px) {
	.container {
		width: 90%;
		grid-template-columns: 35% 65%;
	}

	.welcome__message {
		gap: 1rem;
	}

	.welcome__message h1 {
		font-size: 3.5rem;
	}

	.welcome__message p {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: 700px) {
	.container {
		grid-template-columns: 1fr;
		place-items: center;
		gap: 2.5rem;
	}

	.welcome__message h1 {
		text-align: center;
	}

	.welcome__message p {
		text-align: center;
		font-size: 1.5rem;
	}

	form {
		width: 90%;
		padding: 3rem 1.8rem;
	}
}
